name: Sign Existing Installer

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  sign_installer:
    runs-on: windows-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Azure Trusted Signing
        uses: azure/trusted-signing-action@v0.3.16
        with:
          azure-tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          azure-client-id: ${{ secrets.AZURE_CLIENT_ID }}
          azure-client-secret: ${{ secrets.AZURE_CLIENT_SECRET }}
          endpoint: https://neu.codesigning.azure.net/
          code-signing-account-name: collins-group
          certificate-profile-name: TNTPLUS
          files-folder: Distribution/
          files-folder-filter: exe
          file-digest: SHA256
          timestamp-rfc3161: http://timestamp.acs.microsoft.com
          timestamp-digest: SHA256

      - name: Upload to BunnyCDN
        run: |
          $headers = @{
            "AccessKey" = "${{ secrets.BUNNY_ACCESS_KEY }}"
          }
          $file = Get-ChildItem -Path Distribution\*.exe | Select-Object -First 1
          $uri = "https://se.storage.bunnycdn.com/sw-stor/dev-$($file.Name)"
          Invoke-RestMethod -Uri $uri -Method Put -InFile $file.FullName -Headers $headers
        shell: powershell
